/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     display: flex;
     align-self: center;
     justify-content: center;
     height: 100vh;
     font-family: 'Roboto', sans-serif;
}

.heading-secondary {
     font-size: 3.5rem;
     letter-spacing: 1.2px;
}

.cta-form {
     display: grid;
     grid-template-columns: 1fr 1fr;
     column-gap: 1rem;
}

.cta-form label {
     font-size: 1rem;
     display: block;
     margin: .5rem 0;
}

.cta-form input {
     width: 100%;
     padding: .4rem;
     border-radius: 9px;
     font-size: 1rem;
     border: none;
}

.cta *:focus {
     outline: none;
     box-shadow: 0 0 0 0.2rem #999999;
}

#street {
     grid-column: span 2;
}

.cta-text {
     font-size: 1rem;
     line-height: 2;
     letter-spacing: 1.3px;
}

.btn {
     display: inline-block;
     border-radius: 100px;
     text-decoration: none;
     font-weight: 700;
     border: none;
     transition: all .3s;
     color: black;
}

.btn-form {
     align-self: end;
     padding: .4rem;
     font-size: 1rem;
     background-color: #fff;
     cursor: pointer;
}

.btn-form:hover {
     background-color: #999999;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     width: 100%;
     align-items: center;
     background-color: white
}

h1 {
     font-size: 4rem;
     letter-spacing: 1.2px;
     text-transform: uppercase;
     line-height: 1.2;
}

span {
     font-weight: 700;
     display: block;
}

img {
     width: 70%;
}

main {
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: black;
     color: white;
     width: 100%;
     padding: 0 1.5rem;
}

p {
     font-size: 2rem;
     padding: 1rem 0;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (max-width: 54em) {
     body {
          flex-direction: column;
          height: auto;
     }

     header {
          padding: 2rem 1rem 1rem 1rem;
          height: auto;
     }

     .heading-primary {
          font-size: 2rem
     }

     .img::after {
          content: "San Diego North";
          position: absolute;
          color: red;
          font-size: 1.1rem;
          bottom: 10%;
          right: 6%;
          transform: rotate(-8deg);
          z-index: -1;
     }

     p {
          font-size: 1.5rem;
     }

     main {
          padding: 3rem 0;
          text-align: center;
     }

     .section-cta {
          width: 75%;
          margin: 0 auto;
     }

     .cta-form {
          display: flex;
          flex-direction: column;
     }

     .cta-form label {
          text-align: left;
          font-size: .9rem;
     }

     .btn-form {
          align-self: auto;
          margin: 2rem 0 3rem 0;
     }
}